# If you do not specify a namespace, the default used is aws:elasticbeanstalk:application:environment
option_settings:
  - option_name: SYMFONY__DATABASE__DATABASE
    value: somevalue
  - option_name: SYMFONY__DATABASE__HOST
    value: somevalue2
  - option_name: SYMFONY__DATABASE__PASSWORD
    value: somevalue2
  - option_name: SYMFONY__DATABASE__USER
    value: somevalue2
  - option_name: SYMFONY__XTEAM__HIGHFIVE__MESSAGE
    value: High five heroes! |chart|
  - option_name: SYMFONY__XTEAM__HIGHFIVE__BASE_URL
    value: somevalue2
  - option_name: SYMFONY__XTEAM__HIGHFIVE__PUBLISH_CHANNEL
    value: #general
  - option_name: SYMFONY__SLACK__TOKEN
    value: token
